<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6" [class.new-user-alert]="brandNew">
      <div *ngIf="brandNew" class="alert alert-success" role="alert">
        <strong>All set!</strong> Please login with your account
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <h2>Login</h2>
      <form #f="ngForm" novalidate (ngSubmit)="login(f)">
        <div class="form-group">
          <label for="userName">Email</label>
          <input id="userName" type="text" required name="userName" class="form-control" placeholder="Username" [ngModel]="credentials.userName"
            #userName="ngModel" tmFocus validateEmail>
          <small [hidden]="userName.valid || (userName.pristine && !submitted)" class="text-danger">Please enter a valid username</small>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" required name="password" placeholder="Password" ngModel>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="f.invalid || isRequesting">Login</button>
          <app-spinner [isRunning]="isRequesting"></app-spinner>
        </div>

        <div *ngIf="errors" class="alert alert-danger" role="alert">
          <strong>Oops!</strong> {{errors}}
        </div>
      </form>
    </div>
  </div>
</div>