<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col">
      <!-- <h1>Home</h1><br> -->
      <div class="card mb-3" *ngFor="let entry of entries">
        <div class="card-header">
          {{entry.owner}}
        </div>
        <img class="card-img-top" [src]="entry.imageUrl" />
        <div class="card-body">
          <h5 class="card-title">{{entry.created | timeAgo}}</h5>
          <p class="card-text">{{entry.description}}</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
  </div>
</div>