<div class="container" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="5" (scrolled)="onScroll()"
  [scrollWindow]="true">
  <div class="row justify-content-md-center">
    <div class="col">
      <div class="card" *ngFor="let post of posts">
        <div class="card-body">
          <a href="/robstagram/gallery/{{post.owner}}/" class="text-dark mr-2">
            <small><strong>{{post.owner}}</strong></small>
          </a>
        </div>
        <img class="card-img-top" [src]="post.imageUrl" (dblclick)="like(post.id)" />
        <div class="card-body">
          <!-- icon bar -->
          <div class="h5">
            <a href="javascript:void(0)" class="text-dark">
              <fa-icon icon="heart" class="mr-3" [class.liked]="post.likes.includes(user.firstName)" (click)="like(post.id)"></fa-icon>
            </a>
            <a href="javascript:void(0)" (click)="toggleComment(post.id)" class="text-dark">
              <fa-icon icon="comment" class="mr-3"></fa-icon>
            </a>
            <a href="javascript:void(0)" class="text-dark">
              <fa-icon *ngIf="post.owner === user.firstName" icon="trash" class="mr-3" (click)="openDeletePostModal(content, post.id)"></fa-icon>
            </a>
          </div>
          <!-- likes -->
          <p *ngIf="post.likes.length > 0" class="mb-0">
            <a href="javascript:void(0)" (click)="expandLikes(post.id)" class="text-dark">
              <small><strong>{{post.likes.length}} Likes</strong></small>
            </a>
          </p>
          <!-- description -->
          <p *ngIf="post.description" class="mb-0">
            <a href="/{{post.owner}}/" class="text-dark mr-2">
              <small><strong>{{post.owner}}</strong></small>
            </a>
            <small>{{post.description}}</small>
          </p>
          <!-- comment summary -->
          <p *ngIf="post.comments.length > 0" class="mb-0">
            <a href="javascript:void(0)" (click)="toggleExpandComments(post.id)" class="text-dark">
              <small>{{post.comments.length}} Comments</small>
            </a>
          </p>
          <!-- comments -->
          <div *ngIf="post.commentsExpanded">
            <div *ngFor="let comment of post.comments" class="mb-0 no-linespace">
              <div class="row">
                <div class="col-11">
                  <a href="/{{comment.owner}}/" class="text-dark mr-2">
                    <small><strong>{{comment.owner}}</strong></small>
                  </a>
                  <small>{{comment.text}}</small>
                </div>
                <div class="col-1" *ngIf="comment.owner === user.firstName">
                  <a href="javascript:void(0)" class="text-dark" (click)="openDeleteCommentModal(content, post.id, comment.id)"><fa-icon icon="trash"></fa-icon></a>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <small class="text-muted">{{comment.dateCreated | timeAgo}}</small>
                </div>
              </div>
            </div>
          </div>
          <!-- comment input bar -->
          <div *ngIf="post.commentInputVisible" class="input-group input-group-sm mt-2">
            <input #commentInput type="text" class="form-control" placeholder="Comment..." aria-label="Comment..."
              aria-describedby="button-addon">
            <div class="input-group-append">
              <button type="button" class="btn btn-outline-secondary" id="button-addon" (click)="comment(post.id, commentInput.value)">Post</button>
            </div>
          </div>
          <!-- timestamp -->
          <div>
            <small class="text-muted">{{post.dateCreated | timeAgo}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- modal delete confirmation dialog -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Delete confirmation</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Do you really want to delete this?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Delete click')">Delete</button>
    </div>
  </ng-template>
</div>