@media (min-width: 576px) {
    .container{width: 500px}
}

.liked {
    color: red;
}

.no-linespace {
    line-height: 100%;
}

.card {
    border: none;
}

.card-img-top {
    border-radius: 0;
}

.card-body {
    padding: 10px;
}