<ul class="nav nav-pills nav-fill navbar fixed-bottom bg-dark navbar-dark">
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]='["active"]' [routerLink]='["/robstagram/home"]' [routerLinkActiveOptions]='{ exact: true }'>Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]='["active"]' [routerLink]='["/robstagram/entry"]'>Entry</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]='["active"]' [routerLink]='["/robstagram/camera"]'>Camera</a>
  </li>
</ul>