<ul class="nav nav-pills nav-fill navbar fixed-bottom bg-dark navbar-dark">
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]='["active"]' [routerLink]='["/robstagram/home"]' [routerLinkActiveOptions]='{ exact: true }'>
      <fa-icon icon="home"></fa-icon>
      Home
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]='["active"]' [routerLink]='["/robstagram/entry"]'>
      <fa-icon icon="plus-square"></fa-icon>
      Entry
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]='["active"]' [routerLink]='["/robstagram/camera"]'>
      <fa-icon icon="camera"></fa-icon>
      Camera
    </a>
  </li>
</ul>
