<div class="container">
  <h2>File Upload</h2>
  <form>
    <div class="row">
      <div class="col-md-6">
        <hr class="my-4">
        <div class="form-group">
          <label for="fileFormData">File upload (FormData)</label>
          <input id="fileFormData" type="file" class="form-control-file" />
        </div>
        <button type="submit" class="btn btn-primary btn-sm" (click)="upload(fileFormData.files)">Upload</button>
        <hr class="my-4">
        <div class="form-group">
          <label for="fileBase64">File upload (Base64)</label>
          <input id="fileBase64" type="file" multiple class="form-control-file" />
        </div>
        <button type="submit" class="btn btn-primary btn-sm" (click)="uploadBase64(fileBase64.files)">Upload</button>
        <hr class="my-4">
      </div>
      <div class="col-md-6">
        <hr class="my-4">
        <label>Progress: {{uploadProgress}}</label>
        <br/>
        <label>Message: {{uploadMessage}}</label>
        <br/>
        <label>ImageUrl: {{uploadImageUrl}}</label>
        <br/>
        <div *ngIf="uploadImageUrl">
          <img [src]="uploadImageUrl" height="480" style="background-color: lightgray" />
        </div>
      </div>
    </div>
  </form>
</div>