<div class="container">
  <div *ngFor="let item of activities | keyvalue:activityComparator">
    <h5>{{item.key}}</h5>
    <!-- likes -->
    <div class="row align-items-center mb-1" *ngFor="let activity of item.value">
      <div class="col">
        <small>
          <span [appPrettierNames]="activity.actors"></span>
          <!-- <strong>{{activity.actors | prettierNameArr}} </strong> -->
          {{activityAction[activity.action] | lowercase}} your post
        </small>
        <small><span class="text-muted ml-2">{{activity.lastChange | timeAgo}}</span></small>
      </div>
      <div class="col-2">
        <img [src]="activity.imageUrl" class="img-fluid">
      </div>
    </div>
  </div>
</div>