<div class="row">
  <div class="col-md-6">
    <form #f="ngForm" novalidate (ngSubmit)="post(f)">
            
      <div class="form-group">
        <label for="image">Picture</label>
        <input type="file" id="image" name="image" class="form-control" placeholder="Image" ngModel required #image="ngModel" (change)="getFiles($event)">        
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="description" name="description" class="form-control" placeholder="Description" ngModel required #description="ngModel">
      </div>          
  
      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="f.invalid || isRequesting">Publish</button>
      </div>
  
      <div *ngIf="errors" class="alert alert-danger" role="alert">
        <strong>Oops!</strong> {{errors}}
      </div> 

      <p>Image value: {{ image.value }}</p>
      <p>Image valid: {{ image.valid }}</p>
      <p>Description value: {{ description.value }}</p>
      <p>Description valid: {{ description.valid }}</p>
      <p>Form value: {{ f.value | json }}</p>
      <p>Form valid: {{ f.valid }}</p>

      <p><label>Progress: {{uploadProgress}}</label></p>
      <p><label>Message: {{uploadMessage}}</label></p>  
            
    </form>
  </div>
</div>
